button,
a {
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	border: none;

	padding: 0.8rem 1rem;

	border-radius: 0.8rem;

	transition: all 0.3s ease;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
}

header a {
	width: 18.5rem;
	max-width: 100%;
	color: var(--color-grey-6);
	font-size: var(--text-2);
	background-color: var(--color-brand-1);
}

header a:hover {
	background-color: var(--color-brand-2);
}
