header {
	padding: 2.5rem 0px;
	color: var(--color-grey-6);

	background-image: linear-gradient(#212529a4, #212529a4),
		url("../assets/img/pexels-mentatdgt-1206059.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.title-3 {
	font-size: var(--title-3);
}

.title-4 {
	font-size: var(--title-4);
}

.paragraph {
	font-size: var(--text-3);
}

main {
	padding: 2.5rem 0px;
	background-color: var(--color-grey-5);

	display: flex;
}
