header {
	padding: 2.5rem 0px;
	color: var(--color-grey-6);

	background-image: linear-gradient(#212529c7, #212529c7),
		url("../assets/img/pexels-mentatdgt-1206059.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.title-3 {
	font-size: var(--title-3);
}

.title-4 {
	font-size: var(--title-4);
}

.paragraph {
	font-size: var(--text-3);
	line-height: 1.7rem;
}

main {
	padding: 2.5rem 0px;
	background-color: var(--color-grey-5);

	display: flex;
	flex-direction: column;

	row-gap: 1.5rem;
}

.hidden {
	display: none;
}

.disable {
	pointer-events: none;
	background-color: var(--color-grey-1) !important;
}
