.selected {
	text-align: center;

	padding: 2rem 1rem;

	display: flex;
	flex-direction: column;

	row-gap: 2rem;

	background-color: var(--color-grey-6);
	box-shadow: 0px 0px 5px var(--color-grey-2);
	border-radius: 0.8rem;
}

.selected-items {
	display: flex;
	flex-direction: column;

	align-items: center;

	row-gap: 1.5rem;
}

.item {
	text-align: left;

	display: flex;
	align-items: center;

	column-gap: 0.8rem;
}

.item-details {
	display: flex;
	flex-direction: column;

	row-gap: 1.3rem;
}

.item h3 {
	font-size: var(--text-2);
}

.item .info {
	font-size: var(--text-4);
	display: flex;
	column-gap: 1rem;
}

.trash {
	color: var(--color-grey-6);
	font-size: var(--text-1);
	background-color: var(--color-grey-2);

	transition: all 0.3s ease;
}

.trash:hover {
	background-color: var(--color-grey-1);
}
